In [12]:
import pandas as pd 
import numpy as np 
import pyreadstat    
dataframe, meta = pyreadstat.read_dta('Filepath.dta')

ModuleNotFoundError: No module named 'pyreadstat'

In [14]:
# Read stata data
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
def read_data(file): 
    return pd.read_stata("https://raw.github.com/scunning1975/mixtape/master/" + file)



yule = read_data('yule.dta')

In [15]:
yule

                location  paup  outrelief  old  pop
0            Kensington     27          5  104  136
1            Paddington     47         12  115  111
2                Fulham     31         21   85  174
3               Chelsea     64         21   81  124
4          St. George’s     46         18  113   96
5           Westminster     52         27  105   91
6            Marylebone     81         36  100   97
7   St. John, Hampstead     61         39  103  141
8           St. Pancras     61         35  101  107
9             Islington     59         35  101  132
10              Hackney     33         22   91  150
11           St. Giles’     76         30  103   85
12               Strand     64         27   97   81
13              Holborn     79         33   95   93
14                 City     79         64  113   68
15           Shoreditch     52         21  108  100
16        Bethnal Green     46         19  102  106
17          Whitechapel     35          6   93   93
18    St. George’s East     37          6   98   98
19              Stepney     34         10   87  101
20             Mile End     43         15  102  113
21               Poplar     37         20  102  135
22        St. Saviour’s     52         22  100  111
23          St. Olave’s     57         32  102  110
24              Lambeth     57         38   99  122
25           Wandsworth     23         18   91  168
26           Camberwell     30         14   83  168
27            Greenwich     55         37   94  131
28             Lewisham     41         24  100  142
29             Woolwich     76         20  119  110
30              Croydon     38         29  101  142
31             West Ham     38         49   86  203